name: tfbackmdb

services:
  webapi:
    image: devprofr/todoblazor:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DatabaseSettings__ConnectionString=mongodb://mongodb:27017
    ports:
      - "9001:8080"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:8.2
    ports:
      - "27017:27017"
    volumes:
      - db-data:/data/db

volumes:
  db-data:
