# purpose: Continuous Integration pipeline
# actions: [build, unit test, lint, scan]
# variables: [SONAR_ORG, SONAR_PROJECT_KEY]
# secrets: [SONAR_TOKEN]
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

concurrency:
  group: "ci"
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  git-check:
    name: Git
    uses: ./.github/workflows/reusable-git-check.yml

  content-validate:
    name: Content
    uses: devpro/github-workflow-parts/.github/workflows/reusable-content-validate.yml@feature/organize-actions

  build:
    name: Application
    needs: git-check
    if: github.event_name == 'workflow_dispatch' || needs.git-check.outputs.app_changed == 'true'
    uses: devpro/github-workflow-parts/.github/workflows/reusable-dotnet-validate.yml@feature/organize-actions
    with:
      extra-vars: |
        Application__IsHttpsRedirectionEnabled="false"
      mongodb-enabled: true
      fossa-enabled: true
      sonar-enabled: true
      sonar-organization: ${{ vars.SONAR_ORG }}
      sonar-project-key: ${{ vars.SONAR_PROJECT_KEY }}
      sonar-project-name: Todo Blazor
      workflow-parts-version: feature/organize-actions
    secrets:
      fossa-api-key: ${{ secrets.FOSSA_API_KEY }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  image-scan:
    name: Scan
    runs-on: ubuntu-latest
    needs: git-check
    if: github.event_name == 'workflow_dispatch' || needs.git-check.outputs.app_changed == 'true'
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      - name: Checkout workflow parts
        uses: actions/checkout@v5
        with:
          repository: devpro/github-workflow-parts
          ref: main
          path: workflow-parts
      - name: Create and scan container image
        uses: ./workflow-parts/docker/build-scan
        with:
          docker_file: 'src/BlazorApp/Dockerfile'
          image_tag: 1.0.${{ github.run_id }}
          image_path: 'docker.io/devprofr'
          image_name: todoblazor
          trivy_enabled: false # temp trivy fix with ignoring vulnerability SUSE-SU-2026:0215-1
          max_high_cves: 0
          max_medium_cves: 0
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
