# purpose: Continuous Delivery (aka Packaging & Shipping)
# actions: [build, push]
# variables: []
# secrets: [DOCKERHUB_USERNAME, DOCKERHUB_TOKEN]
name: PKG

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  git-check:
    name: Git
    uses: ./.github/workflows/reusable-git-check.yml

  image-publication:
    name: Image
    needs: git-check
    if: github.event_name == 'workflow_dispatch' || needs.git-check.outputs.app_changed == 'true'
    permissions:
      id-token: write
      contents: read
    uses: devpro/github-workflow-parts/.github/workflows/reusable-container-publication.yml@feature/organize-actions
    with:
      create-latest: ${{ github.ref_name == 'main' }}
      extra-build-arguments: >-
        --secret id=additional_file_name,env=ADDITIONAL_FILE_NAME
        --secret id=additional_file_content,env=ADDITIONAL_FILE_CONTENT
      image-definition: "src/BlazorApp/Dockerfile"
      image-name: todoblazor
      image-path: "docker.io/devprofr"
      image-tag: 1.0.${{ github.run_id }}
      workflow-parts-version: feature/organize-actions
    secrets:
      container-registry-password: ${{ secrets.DOCKERHUB_TOKEN }}
      container-registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
      extra-vars: |
        ADDITIONAL_FILE_NAME=${{ secrets.CONTAINER_ADDITIONAL_FILENAME }}
        ADDITIONAL_FILE_CONTENT=${{ secrets.CONTAINER_ADDITIONAL_FILECONTENT }}
